{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": true,
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}