---
import ThemeToggle from './ThemeToggle/ThemeToggle.vue';
---

<header class='w-full my-8 flex'>
	<nav>
		<a href='/'>
			<span class='font-source-code-pro text-4xl font-bold'>Blogeusz</span>
		</a>
	</nav>
	<div class='ml-auto'>
		<ThemeToggle client:only />
	</div>
</header>
